# --- Nextflow & Temporary Files ---
work/
.nextflow/
envs/conda_cache/
results/
# Captures .nextflow.log, .nextflow.log.1, .nextflow.log.2, etc.
.nextflow.log*
trace.txt*
report.html*
timeline.html*
dag.png*

# --- Python & Jupyter ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# --- Data & Large Models ---
bin_pruebas/
*.parquet
*.csv
*.pkl
*.h5
*.pt
*.pth

# --- System Specific ---
.DS_Store