# --- Nextflow & Temporary Files ---
work/*
.nextflow/
envs/conda_cache/*
envs/logs/*
results/*
.nextflow.log*
trace.txt*
report.html*
timeline.html*
dag.png*
resources/train_rdkit_featured.parquet
resources/train_features_mordred_filtered.parquet

# --- Python & Jupyter ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# --- Data & Large Models ---
bin_pruebas/
*.parquet
*.pkl
*.h5
*.pt
*.pth

# --- System Specific ---
.DS_Store