/*
 * -------------------------------------------------
 * Nextflow config file for DrugSol Prediction
 * -------------------------------------------------
 */

manifest {
    name            = 'drugsol-predictor'
    author          = 'Àitor Olivares Perucho'
    description     = 'Solubility predictor using XGBoost, LightGBM, Chemprop, and Regression.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}

workDir = "${baseDir}/work"

conda {
    enabled  = true
    useMicromamba = true
    cacheDir = "${baseDir}/envs/conda_cache" 
}

// Configuración Global de Procesos (Defaults)
process {
    errorStrategy = 'finish'
}

// --- PERFILES (PROFILES) ---
profiles {

    // 1. ESTÁNDAR (Portátil / Sin GPU) - Se activa por defecto
    standard {
        process {
            executor = 'local'
            cpus = 1
            memory = '4 GB'
            
            withLabel: 'cpu_small'  { cpus = 2; memory = '6 GB' }
            withLabel: 'cpu_medium' { cpus = 4; memory = '8 GB' }
            withLabel: 'cpu_high'   { cpus = 8; memory = '16 GB' }
            
            // Simulación GPU con CPU
            withLabel: 'process_gpu' {
                cpus = 4          
                memory = '16 GB'
            }
        }
    }

    // 2. GPU FUERTE (Workstation / A5000)
    gpu_high {
        process {
            withLabel: 'cpu_small'  { cpus = 8; memory = '16 GB' }
            withLabel: 'cpu_medium' { cpus = 16; memory = '64 GB' }
            withLabel: 'cpu_high'   { cpus = 26; memory = '100 GB' }
            
            withLabel: 'process_gpu' {
                accelerator = 1
                // type = 'nvidia' // Opcional, mejor que detecte solo
                cpus = 4
                memory = '32 GB'
                maxForks = 4      // Paralelismo GPU agresivo
            }
        }
    }
    
    // 3. GPU MODESTA (PC Gaming / 8GB VRAM)
    gpu_small {
        process {
            // Ajustamos CPUs y RAM a algo más normal (ej. 16GB / 32GB)
            withLabel: 'cpu_small'  { cpus = 4; memory = '8 GB' }
            withLabel: 'cpu_medium' { cpus = 8; memory = '16 GB' }
            withLabel: 'cpu_high'   { cpus = 12; memory = '32 GB' }
            
            withLabel: 'process_gpu' {
                accelerator = 1
                cpus = 4
                memory = '16 GB'
                maxForks = 1      // Solo 1 a la vez para proteger VRAM
            }
        }
    }
    
    // 4. DOCKER (Opcional)
    docker {
        conda.enabled = false
        docker.enabled = true
        // Aquí podrías definir contenedores por proceso
    }
}