workDir = "${baseDir}/work"

process {
  withName: /.*meta_stack_blend.*/ {
    cache = false
  }
}

conda {
  enabled  = true
  useMamba = true
}

//params.MAMBA               = "${System.getenv('HOME')}/.local/micromamba/bin/micromamba"
params.MAMBA               = "${System.getenv('HOME')}/.local/bin/micromamba"


